## 2.1.1.ведение в SQL, CREATE, INSERT, SELECT.

**SQL (Structured Query Language)** — это язык программирования, используемый для работы с реляционными базами данных.

```CREATE TABLE``` — создает новую таблицу.

```INSERT INTO``` — вставляет данные в таблицу.

```SELECT``` — выбирает данные из таблицы.

# Создание таблицы
CREATE TABLE students (
    id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(50) NOT NULL,
    age INT,
    course VARCHAR(50)
);

# id — уникальный идентификатор студента (первичный ключ).
# name — имя студента (не может быть пустым).
# age — возраст студента.
# course — курс, на котором учится студент.

# Вставка данных
INSERT INTO students (name, age, course)
VALUES ('Иван', 20, 'Python'),
       ('Петр', 22, 'JavaScript'),
       ('Мария', 21, 'Python');

# Выборка данных
SELECT column1, column2, ...
FROM table_name
WHERE condition;

#### Пратика

# Создание таблицы и вставка данных
CREATE TABLE employees (
    id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(50) NOT NULL,
    position VARCHAR(50),
    salary INT
);

INSERT INTO employees (name, position, salary)
VALUES ('Иван Иванов', 'Разработчик', 100000),
       ('Петр Петров', 'Менеджер', 120000),
       ('Мария Сидорова', 'Дизайнер', 90000);

# Выборка данных
SELECT * FROM employees
WHERE salary > 95000;

# Выборка определенных колонок
SELECT name, position FROM employees;

## 2.1.2.WHERE, ORDER BY, LIMIT.

```WHERE``` — фильтрация данных по условию.

```ORDER BY``` — сортировка данных.

```LIMIT``` — ограничение количества возвращаемых строк.

# Примеры использования WHERE
SELECT * FROM students
WHERE course = 'Python';

SELECT * FROM students
WHERE age > 20;

SELECT * FROM students
WHERE course = 'Python' AND age > 20;

SELECT * FROM students
WHERE course = 'Python' OR course = 'JavaScript';

# Сортировка данных (ORDER BY)
SELECT * FROM students
ORDER BY age ASC;

SELECT * FROM students
ORDER BY age DESC;

SELECT * FROM students
ORDER BY course ASC, age DESC;

# Ограничение выборки (LIMIT)
SELECT * FROM students
LIMIT 2;

SELECT * FROM students
LIMIT 2 OFFSET 2;

#### Практика

# Фильтрация данных
SELECT * FROM employees
WHERE salary > 100000;

# Сортировка данных
SELECT * FROM books
ORDER BY year DESC;

# Ограничение выборки
SELECT * FROM books
LIMIT 3;

## 2.1.3.JOIN (INNER, LEFT, RIGHT).

## 2.1.4.GROUP BY, HAVING, агрегатные функции.

## 2.1.5.Практика: написание SQL-запросов