## 2.2.1.Модуль sqlite3 для работы с SQLite.

**SQLite** — это встраиваемая реляционная база данных, которая хранится в одном файле.
В Python для работы с SQLite используется модуль sqlite3

In [3]:
import sqlite3

In [4]:
# Подключение к БД (или создание новой)
conn = sqlite3.connect('example.db')

# Курсор используется для выполнения SQL-запросов
cursor = conn.cursor()

# создание таблицы
cursor.execute('''
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    course TEXT
)
''')

# Вставка данных
cursor.execute("INSERT INTO students (name, age, course) VALUES ('Иван', 20, 'Python')")
cursor.execute("INSERT INTO students (name, age, course) VALUES ('Петр', 22, 'JavaScript')")
cursor.execute("INSERT INTO students (name, age, course) VALUES ('Мария', 21, 'Python')")

# Сохранение изменений
conn.commit()

# Выборка данных
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Закрытие соединения
conn.close()

(1, 'Иван', 20, 'Python')
(2, 'Петр', 22, 'JavaScript')
(3, 'Мария', 21, 'Python')
(4, 'Иван', 20, 'Python')
(5, 'Петр', 22, 'JavaScript')
(6, 'Мария', 21, 'Python')

### практика

Создадим таблицу employees с колонками id, name, position и salary. Вставьте данные о нескольких сотрудниках.

In [7]:
# Подключение к базе данных
conn = sqlite3.connect('company.db')
cursor = conn.cursor()

# Создание таблицы
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    position TEXT,
    salary INTEGER
)
''')

# Вставка данных
cursor.execute("INSERT INTO employees (name, position, salary) VALUES ('Иван Иванов', 'Разработчик', 100000)")
cursor.execute("INSERT INTO employees (name, position, salary) VALUES ('Петр Петров', 'Менеджер', 120000)")
cursor.execute("INSERT INTO employees (name, position, salary) VALUES ('Мария Сидорова', 'Дизайнер', 90000)")

# Сохранение изминений
conn.commit()

# Выборка данных
cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Закрытие соединения
conn.close()

(1, 'Иван Иванов', 'Разработчик', 100000)
(2, 'Петр Петров', 'Менеджер', 120000)
(4, 'Иван Иванов', 'Разработчик', 100000)
(5, 'Петр Петров', 'Менеджер', 120000)
(6, 'Мария Сидорова', 'Дизайнер', 90000)

In [8]:
conn = sqlite3.connect('company.db')
cursor = conn.cursor()

cursor.execute("SELECT * FROM employees WHERE salary > 100000")
rows = cursor.fetchall()
for row in rows:
    print(row)
    
conn.close()

(2, 'Петр Петров', 'Менеджер', 120000)
(5, 'Петр Петров', 'Менеджер', 120000)

Обновление данных

In [10]:
# Обновить зарплату сотрудника с именем "Иван Иванов" до 110000

# Подключение к базе данных
conn = sqlite3.connect('company.db')
cursor = conn.cursor()

# Обновление данных
cursor.execute("UPDATE employees SET salary = 110000 WHERE name = 'Иван Иванов'")

# Сохранение изменений
conn.commit()

# Выборка данных
cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Закрытие соединения
conn.close()

(1, 'Иван Иванов', 'Разработчик', 110000)
(2, 'Петр Петров', 'Менеджер', 120000)
(4, 'Иван Иванов', 'Разработчик', 110000)
(5, 'Петр Петров', 'Менеджер', 120000)
(6, 'Мария Сидорова', 'Дизайнер', 90000)

Удаление данных

In [12]:
# Удалить сотрудника с именем "Мария Сидорова"
# Подключение к базе данных
conn = sqlite3.connect('company.db')
cursor = conn.cursor()

# Удаление данных
cursor.execute("DELETE FROM employees WHERE name = 'Мария Сидорова'")

# Сохранение изменений
conn.commit()

# Выборка данных
cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Закрытие соединения
conn.close()

(1, 'Иван Иванов', 'Разработчик', 110000)
(2, 'Петр Петров', 'Менеджер', 120000)
(4, 'Иван Иванов', 'Разработчик', 110000)
(5, 'Петр Петров', 'Менеджер', 120000)

## 2.2.2.Создание и управление базой данных.

## 2.2.3.Выполнение запросов и обработка результатов.

## 2.2.4.Практика: создание базы данных для To-Do List.