## 2.2.1.Модуль sqlite3 для работы с SQLite.

**SQLite** — это встраиваемая реляционная база данных, которая хранится в одном файле.
В Python для работы с SQLite используется модуль sqlite3

In [1]:
import sqlite3

In [4]:
# Подключение к БД (или создание новой)
conn = sqlite3.connect('example.db')

# Курсор используется для выполнения SQL-запросов
cursor = conn.cursor()

# создание таблицы
cursor.execute('''
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    course TEXT
)
''')

# Вставка данных
cursor.execute("INSERT INTO students (name, age, course) VALUES ('Иван', 20, 'Python')")
cursor.execute("INSERT INTO students (name, age, course) VALUES ('Петр', 22, 'JavaScript')")
cursor.execute("INSERT INTO students (name, age, course) VALUES ('Мария', 21, 'Python')")

# Сохранение изменений
conn.commit()

# Выборка данных
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Закрытие соединения
conn.close()

(1, 'Иван', 20, 'Python')
(2, 'Петр', 22, 'JavaScript')
(3, 'Мария', 21, 'Python')
(4, 'Иван', 20, 'Python')
(5, 'Петр', 22, 'JavaScript')
(6, 'Мария', 21, 'Python')

### практика

Создадим таблицу employees с колонками id, name, position и salary. Вставьте данные о нескольких сотрудниках.

In [7]:
# Подключение к базе данных
conn = sqlite3.connect('company.db')
cursor = conn.cursor()

# Создание таблицы
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    position TEXT,
    salary INTEGER
)
''')

# Вставка данных
cursor.execute("INSERT INTO employees (name, position, salary) VALUES ('Иван Иванов', 'Разработчик', 100000)")
cursor.execute("INSERT INTO employees (name, position, salary) VALUES ('Петр Петров', 'Менеджер', 120000)")
cursor.execute("INSERT INTO employees (name, position, salary) VALUES ('Мария Сидорова', 'Дизайнер', 90000)")

# Сохранение изминений
conn.commit()

# Выборка данных
cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Закрытие соединения
conn.close()

(1, 'Иван Иванов', 'Разработчик', 100000)
(2, 'Петр Петров', 'Менеджер', 120000)
(4, 'Иван Иванов', 'Разработчик', 100000)
(5, 'Петр Петров', 'Менеджер', 120000)
(6, 'Мария Сидорова', 'Дизайнер', 90000)

In [8]:
conn = sqlite3.connect('company.db')
cursor = conn.cursor()

cursor.execute("SELECT * FROM employees WHERE salary > 100000")
rows = cursor.fetchall()
for row in rows:
    print(row)
    
conn.close()

(2, 'Петр Петров', 'Менеджер', 120000)
(5, 'Петр Петров', 'Менеджер', 120000)

Обновление данных

In [10]:
# Обновить зарплату сотрудника с именем "Иван Иванов" до 110000

# Подключение к базе данных
conn = sqlite3.connect('company.db')
cursor = conn.cursor()

# Обновление данных
cursor.execute("UPDATE employees SET salary = 110000 WHERE name = 'Иван Иванов'")

# Сохранение изменений
conn.commit()

# Выборка данных
cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Закрытие соединения
conn.close()

(1, 'Иван Иванов', 'Разработчик', 110000)
(2, 'Петр Петров', 'Менеджер', 120000)
(4, 'Иван Иванов', 'Разработчик', 110000)
(5, 'Петр Петров', 'Менеджер', 120000)
(6, 'Мария Сидорова', 'Дизайнер', 90000)

Удаление данных

In [12]:
# Удалить сотрудника с именем "Мария Сидорова"
# Подключение к базе данных
conn = sqlite3.connect('company.db')
cursor = conn.cursor()

# Удаление данных
cursor.execute("DELETE FROM employees WHERE name = 'Мария Сидорова'")

# Сохранение изменений
conn.commit()

# Выборка данных
cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Закрытие соединения
conn.close()

(1, 'Иван Иванов', 'Разработчик', 110000)
(2, 'Петр Петров', 'Менеджер', 120000)
(4, 'Иван Иванов', 'Разработчик', 110000)
(5, 'Петр Петров', 'Менеджер', 120000)

## 2.2.2.Создание и управление базой данных.

Основные типы данных:
- ```INTEGER``` - целое число
- ```REAL``` - число с плавающей точкой
- ```TEXT``` - текстовая строка
- ```BLOB``` - бинарные данные
- ```NULL``` - значение NULL

In [14]:
# Создадим таблицу products с колонками id, name, price и quantity.

# Подключение к базе данных
conn = sqlite3.connect('store.db')
cursor = conn.cursor()

# Создание таблицы
cursor.execute('''
CREATE TABLE IF NOT EXISTS products (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    price REAL,
    quantity INTEGER
)
''')

# Сохранение изменений
conn.commit()

# Закрытие соединения
conn.close()

In [6]:
# Добавим колонку category в таблицу products

# Подключение к базе данных
conn = sqlite3.connect('store.db')
cursor = conn.cursor()

# Создание новой таблицы без колонки category
cursor.execute('''
CREATE TABLE IF NOT EXISTS products_new (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    price REAL,
    quantity INTEGER
)
''')

# Сохранение изменений
conn.commit()

# Закрытие соединения
conn.close()

SQLite не поддерживает прямое удаление колонок. Для удаления колонки необходимо создать новую таблицу без этой колонки, скопировать данные и удалить старую таблицу.

In [9]:
# Удаление колонки

# Подключение к базе данных
conn = sqlite3.connect('store.db')
cursor = conn.cursor()

# Создание новой таблицы без колонки category
cursor.execute('''
CREATE TABLE IF NOT EXISTS products_new (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    price REAL,
    quantity INTEGER
)
''')

# Копирование данных из старой таблицы в новую
cursor.execute("INSERT INTO products_new (id, name, price, quantity) SELECT id, name, price, quantity FROM products")

# Удаление старой таблицы
cursor.execute("DROP TABLE products")

# Переименование новой таблицы
cursor.execute("ALTER TABLE products_new RENAME TO products")

# Сохранение изменений
conn.commit()

# Закрытие соединения
conn.close()

In [11]:
# Удаление таблицы
# Подключение к базе данных
conn = sqlite3.connect('store.db')
cursor = conn.cursor()

# Удаление таблицы
cursor.execute("DROP TABLE products")

# Сохранение изменений
conn.commit()

# Закрытие соединения
conn.close()

Пример использования транзакций

In [16]:
# Добавим несколько продуктов в таблицу products в рамках одной транзакции.

# Подключение к базе данных
conn = sqlite3.connect('store.db')
cursor = conn.cursor()

# Начало транзакции
conn.execute("BEGIN")

try:
    # Вставка данных
    cursor.execute("INSERT INTO products (name, price, quantity) VALUES ('Ноутбук', 50000, 10)")
    cursor.execute("INSERT INTO products (name, price, quantity) VALUES ('Смартфон', 30000, 20)")
    cursor.execute("INSERT INTO products (name, price, quantity) VALUES ('Планшет', 25000, 15)")

    # Сохранение изменений
    conn.commit()
except sqlite3.Error as e:
    # Откат изменений в случае ошибки
    conn.rollback()
    print(f"Ошибка: {e}")
finally:
    # Закрытие соединения
    conn.close()

#### Практика

In [19]:
# Подключение к базе данных
conn = sqlite3.connect('store.db')
cursor = conn.cursor()

# Создание таблицы
cursor.execute('''
CREATE TABLE IF NOT EXISTS orders (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    customer_name TEXT NOT NULL,
    product_name TEXT,
    quantity INTEGER,
    order_date TEXT
)
''')

# Вставка данных
cursor.execute("INSERT INTO orders (customer_name, product_name, quantity, order_date) VALUES ('Иван Иванов', 'Ноутбук', 1, '2023-10-01')")
cursor.execute("INSERT INTO orders (customer_name, product_name, quantity, order_date) VALUES ('Петр Петров', 'Смартфон', 2, '2023-10-02')")
cursor.execute("INSERT INTO orders (customer_name, product_name, quantity, order_date) VALUES ('Мария Сидорова', 'Планшет', 1, '2023-10-03')")

# Сохранение изменений
conn.commit()

# Выборка данных
cursor.execute("SELECT * FROM orders")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Закрытие соединения
conn.close()

(1, 'Иван Иванов', 'Ноутбук', 1, '2023-10-01')
(2, 'Петр Петров', 'Смартфон', 2, '2023-10-02')
(3, 'Мария Сидорова', 'Планшет', 1, '2023-10-03')

In [21]:
# Обновите количество товара в заказе с id = 2 до 3

# Подключение к базе данных
conn = sqlite3.connect('store.db')
cursor = conn.cursor()

# Обновление данных
cursor.execute("UPDATE orders SET quantity = 3 WHERE id = 2")

# Сохранение изменений
conn.commit()

# Выборка данных
cursor.execute("SELECT * FROM orders")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Закрытие соединения
conn.close()

(1, 'Иван Иванов', 'Ноутбук', 1, '2023-10-01')
(2, 'Петр Петров', 'Смартфон', 3, '2023-10-02')
(3, 'Мария Сидорова', 'Планшет', 1, '2023-10-03')

In [23]:
# Удалите заказ с id = 3

# Подключение к базе данных
conn = sqlite3.connect('store.db')
cursor = conn.cursor()

# Удаление данных
cursor.execute("DELETE FROM orders WHERE id = 3")

# Сохранение изменений
conn.commit()

# Выборка данных
cursor.execute("SELECT * FROM orders")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Закрытие соединения
conn.close()

(1, 'Иван Иванов', 'Ноутбук', 1, '2023-10-01')
(2, 'Петр Петров', 'Смартфон', 3, '2023-10-02')

## 2.2.3.Выполнение запросов и обработка результатов.

Простые запросы включают выборку данных (SELECT), вставку (INSERT), обновление (UPDATE) и удаление (DELETE).

In [7]:
# Выберем всех студентов из таблицы students.

# Подключение к базе данных
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Выполнение запроса
cursor.execute("SELECT * FROM students")

# Получение результата
rows = cursor.fetchall()
for row in rows:
    print(row)

# Закрытие соединения
conn.close()

(1, 'Иван', 20, 'Python')
(2, 'Петр', 22, 'JavaScript')
(3, 'Мария', 21, 'Python')
(4, 'Иван', 20, 'Python')
(5, 'Петр', 22, 'JavaScript')
(6, 'Мария', 21, 'Python')
(7, 'Алексей', 23, 'Java')
(8, 'Алексей', 23, 'Java')

Методы для получения результатов:
- ```fetchone()``` — возвращает одну строку результата.
- ```fetchall()``` — возвращает все строки результата.
- ```fetchmany(size)``` — возвращает указанное количество строк.

In [12]:
# Подключение к базе данных
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Выполнение запроса
cursor.execute("SELECT * FROM students")

# Получение результата
print(cursor.fetchone())
print(cursor.fetchmany(2))

# Закрытие соединения
conn.close()

(1, 'Иван', 20, 'Python')
[(2, 'Петр', 22, 'JavaScript'), (3, 'Мария', 21, 'Python')]

Параметризованные запросы позволяют безопасно вставлять данные в SQL-запросы, избегая SQL-инъекций.

In [5]:
# Добавим нового студента в таблицу students

# Подключение к базе данных
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Параметризованный запрос
new_student = ('Алексей', 23, 'Java')
cursor.execute("INSERT INTO students (name, age, course) VALUES (?, ?, ?)", new_student)

# Сохранение изменений
conn.commit()

# Закрытие соединения
conn.close()

In [9]:
# Выберем всех студентов, которые изучают Python.

# Подключение к базе данных
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Параметризованный запрос
course = 'Python'
cursor.execute("SELECT * FROM students WHERE course = ?", (course,))

# Получение результатов
rows = cursor.fetchall()
for row in rows:
    print(row)

# Закрытие соединения
conn.close()

(1, 'Иван', 20, 'Python')
(3, 'Мария', 21, 'Python')
(4, 'Иван', 20, 'Python')
(6, 'Мария', 21, 'Python')

#### Практика

In [3]:
# Подключение к базе данных
conn = sqlite3.connect('company.db')
cursor = conn.cursor()

# Выберите всех сотрудников из таблицы employees, у которых зарплата больше 100000.
salary_threshold = 100000
cursor.execute("SELECT * FROM employees WHERE salary > ?", (salary_threshold,))

# Получение результатов
rows = cursor.fetchall()
for row in rows:
    print(row)

# Обновите зарплату сотрудника с именем "Иван Иванов" до 110000.
new_salary = 110000
name = 'Иван Иванов'
cursor.execute("UPDATE employees SET salary = ? WHERE name = ?", (new_salary, name))

# Удалите сотрудника с именем "Мария Сидорова".
name = 'Мария Сидорова'
cursor.execute("DELETE FROM employees WHERE name = ?", (name,))

# Сохранение изменений
conn.commit()

# Закрытие соединения
conn.close()

(1, 'Иван Иванов', 'Разработчик', 110000)
(2, 'Петр Петров', 'Менеджер', 120000)
(4, 'Иван Иванов', 'Разработчик', 110000)
(5, 'Петр Петров', 'Менеджер', 120000)

## 2.2.4.Практика: создание базы данных для To-Do List.